<h1><strong>TODO:</strong></h1>
<li>Fazer home padrão para usuários <strong>logados.</strong></li>
<br>
<br>
<br>
<div>
	<strong>Funcionalidades:</strong>
	<li>Pensar no que a página de usuários logados irá exibir.</li>
</div>
<br>
<br>
<br>
<div>
	<strong>Idéias:</strong>
	<li>Dashboard da conta do usuário, exibe informações como nº de postagens, e opções de editar a conta.</li>
</div>