<h1 class="semibold text-2xl">Seja bem vindo ao <strong>Codejar</strong>!</h1>
<p class="lead">Este projeto visa desenvolver minhas habilidades com o uso do rails e também desenvolver um web app que faça sentido.</p>
<hr />
<hr />
<hr />

<h1><strong>Idéias para o app:</strong></h1>

<hr />
<hr />
<hr />

<li>Blog para posts tutoriais de tecnologia/tirar dúvidas.</li>
<li>Área para vendas de itens relacionados a tecnologia.</li>

<hr />
<hr />
<hr />

<h1><strong>TODO:</strong></h1>

<hr />
<hr />
<hr />

<li>Fazer uma página home padrão para quando entrarem no site.</li>
<li>Fazer o esquema de redirecionamento para uma homepage se o usuário não estiver logado.</li>