<h1><strong>TODO:</strong></h1>
<li>Fazer sistema de posts com comentários e edit.</li>
<br>
<br>
<br>
<div>
	<strong>Funcionalidades:</strong>
	<li>Sistema de postagens, que pode ser editada/excluida.</li>
	<li>Cada postagem possui opção de comentar.</li>
</div>
