<p>Olá, <%= @resource.email %>!</p>

<p>Alguém solicitou uma alteração de senha. Vocẽ consegue fazer isto pelo link abaixo.</p>

<p><%= link_to 'Mudar minha senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se você não solicitou isso, por favor, ignore esse e-mail.</p>
<p>Sua senha não irá mudar até que você acesse o link abaixo e crie uma nova senha.</p>
