<h1><strong>TODO:</strong></h1>
<li>Fazer esquema de postagens de itens.</li>
<br>
<br>
<br>
<div>
	<strong>Funcionalidades:</strong>
	<li>Sistemas de postagem com fotos/texto.</li>
	<li>Sistema de mensagens para comunicador anunciante e comprador.</li>
</div>
